.add-btn {
  margin-top: 10px;
  margin-left: 900px;
  left: 0%;
}

.add-container {
  margin-left: 20px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
